version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/app"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/build-logic"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "app/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 2
    rebase-strategy: "auto"
    groups:
      all:
        patterns:
          - "*"